.container{

}
.btn:hover{
  background-color: #370ee3;
}
body{
  max-width:100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.form-control{
  border-bottom:1px solid black;
  border-radius:0px;
}
.btn{
  background-color: #008080;
  border:none;
}
