.modal-backdrop-custom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.modal-custom {
  background: white;
  border-radius: 16px;
  width: 90%;
  max-width: 500px;
  padding: 24px;
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  font-family: 'Segoe UI', sans-serif;
}

.modal-header-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.modal-title {
  font-weight: 600;
  font-size: 18px;
}

.check-icon {
  font-size: 24px;
  color: green;
  margin-right: 8px;
}

.modal-body {
  font-size: 16px;
  color: #555;
}

.modal-footer-custom {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.modal-icon-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


.bg-success-light {
  background-color: #d1f4e0;
  color: #28a745;
}

.bg-danger-light {
  background-color: #f8d7da;
  color: #dc3545;
}

.bg-warning-light {
  background-color: #fff3cd;
  color: #ffc107;
}

