<footer class="custom-footer">
  <div class="footer-content">
    <div class="footer-section logo-section">
      <h2>eInstrukcije</h2>
      <p>Podrška učenicima kroz personalizirano učenje i stručne instrukcije.</p>
      <div class="social-icons">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
      </div>
    </div>

    <div class="footer-section">
      <h4>Top kategorije</h4>
      <ul>
        <li>Programiranje</li>
        <li>Engleski jezik</li>
        <li>Matematika</li>
        <li>Fizika</li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Brzi linkovi</h4>
      <ul>
        <li><a routerLink="/public/o-nama">O nama</a></li>
        <li><a routerLink="/public/tutor-registration">Postani instruktor</a></li>
        <li><a routerLink="/public/kontakt">Kontakt</a></li>
        <li><a routerLink="/student-dashboard/tutors">Pronađi instruktora</a></li>
      </ul>
    </div>



    <div class="footer-section">
      <h4>Podrška</h4>
      <ul>
        <li>Pomoć</li>
        <li>Česta pitanja</li>
        <li>Uslovi korištenja</li>
        <li>Politika privatnosti</li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 - eInstrukcije. Sva prava zadržana</p>
  </div>
</footer>
