.custom-footer {
  background-color: #111;
  color: #fff;
  padding: 40px 20px 20px;
  font-family: Arial, sans-serif;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  flex: 1 1 200px;
}

.logo-section h2 {
  margin-bottom: 10px;
}
h2{
  color: #00B2A9;
}
.logo-section p {
  font-size: 14px;
  color: #aaa;
  max-width: 300px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons i {
  font-size: 18px;
  margin-right: 10px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.social-icons i:hover {
  color: #43a79a;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #ddd;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
  font-size: 14px;
  color: #ccc;
  cursor: pointer;
}

.footer-section ul li:hover {
  text-decoration: underline;
}
.footer-section ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.footer-section ul li a:hover {
  color: #43a79a;
  text-decoration: underline;
}


.footer-bottom {
  text-align: center;
  border-top: 1px solid #333;
  margin-top: 30px;
  padding-top: 15px;
  font-size: 14px;
  color: #888;
}
