.layout-wrapper {
  min-height: 100vh;
}

.sidebar {
  background-color: rgba(106, 164, 202, 0.78);
  width: 300px;
  min-height: 100vh;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.profile-img:hover {
  transform: scale(1.03);
}

.nav-link {
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-link.active {
  font-weight: 700;
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-link i {
  width: 20px;
  text-align: center;
}

.role-text {
  font-size: 16px;
  opacity: 0.8;
  font-weight: lighter;
  color: white;
}

img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid white;
}

.main-content {
  background-color: #eaf4fd;
}


