<app-navbar></app-navbar>
<section class="hero text-white text-center py-5">
  <div class="hero-container">
    <div class="text-center p-5">
      <h1 class="mb-4">Uči od najboljih: Pronađi svog instruktora</h1>
      <p class="mb-5">Savladaj bilo koji predmet uz našu pomoć. Sve što ti treba je jedan klik!</p>
      <form class="d-flex justify-content-center">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Šta želite naučiti?"
          aria-label="Pretraga"
          style="max-width: 500px; background-color: #D3D3D3; color: #000000; border: none; border-radius: 15px;"
        >
        <button
          class="btn"
          type="submit"
          style="background-color: #2E3A3F; color: #F5F5F5; border-radius: 15px; height: 50px;"
        >
          <i class="fas fa-search" style="font-size: 16px;"></i>
        </button>
      </form>
    </div>
  </div>
</section>


<section class="how-it-works">
  <div class="container">
    <h2>U par klikova do vrhunskih instrukcija. Tvoje znanje, naša misija!</h2>
    <div class="steps">
      <div class="step-card">
        <div class="icon">
          <i class="fas fa-search"></i>
        </div>
        <h3>Pronađi savršenog instruktora</h3>
        <p>Odaberi predmet, lokaciju, cijenu i odluči kako želiš učiti.</p>
      </div>
      <div class="step-card">
        <div class="icon">
          <i class="fas fa-user"></i>
        </div>
        <h3>Upoznaj svog instruktora</h3>
        <p>Pročitaj recenzije, pogledaj profile i odaberi onog koji ti najviše odgovara.</p>
      </div>
      <div class="step-card">
        <div class="icon">
          <i class="fas fa-calendar-check"></i>
        </div>
        <h3>Osiguraj svoje mjesto</h3>
        <p>Dogovori termin u samo nekoliko klikova i kreni s učenjem!</p>
      </div>
      <div class="step-card">
        <div class="icon">
          <i class="fas fa-graduation-cap"></i>
        </div>
        <h3>Vjeruj u sebe</h3>
        <p>Uz naše instruktore, tvoj uspjeh je zagarantovan!</p>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>


