<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<div class="dashboard-container">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="profile-section">
      <div
        class="profile-picture-wrapper"
        (click)="fileInput.click()"
        (mouseenter)="hovering = true"
        (mouseleave)="hovering = false"
      >
        <img
          [src]="profileImageUrl"
          *ngIf="profileImageUrl"
          class="profile-image"
        />
        <i class="fas fa-camera" *ngIf="!profileImageUrl"></i>
        <div
          class="remove-overlay"
          *ngIf="profileImageUrl && hovering"
          (click)="removeProfileImage($event)"
        >
          <i class="material-icons">delete</i>
          <span>Ukloni</span>
        </div>
        <input
          type="file"
          hidden
          #fileInput
          (change)="onFileSelected($event)"
        />
      </div>
      <h3>
        <p>{{ user?.myAppUser?.firstName }} {{ user?.myAppUser?.lastName }}</p>
        <p>{{ user?.myAppUser?.email }}</p>
      </h3>
    </div>

    <nav class="nav-links">
      <a routerLink="home" routerLinkActive="active">
        <span class="material-icons">home</span> Početna stranica
      </a>
      <a routerLink="classes" routerLinkActive="active">
        <span class="material-icons">event</span> Termini predavanja
      </a>
      <a routerLink="tutors" routerLinkActive="active">
        <span class="material-icons">school</span> Instruktori
      </a>
      <a routerLink="chat" routerLinkActive="active">
        <span class="material-icons">chat</span> Razgovori
      </a>
      <a routerLink="payments" routerLinkActive="active">
        <span class="material-icons">credit_card</span> Transakcije
      </a>
      <a routerLink="account" routerLinkActive="active">
        <span class="material-icons">account_circle</span> Moj profil
      </a>

      <a
        button
        (click)="showConfirmModal = true"
        routerLinkActive="active"
        class="logout-link"
      >
        <span class="material-icons">exit_to_app</span> Odjava
      </a>
    </nav>
  </div>

  <!-- Confirmation Modal -->
  <div
    *ngIf="showConfirmModal"
    class="modal-overlay"
    (click)="onOverlayClick($event)"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Potvrda odjave</h3>
        <p class="modal-message">Da li ste sigurni da se želite odjaviti?</p>
      </div>
      <div class="modal-actions">
        <button class="btn-danger" (click)="confirmClose()">Da, odjava</button>
        <button class="btn-outline" (click)="cancelClose()">Ne, ostani</button>
      </div>
    </div>
  </div>
  <!-- Main content -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
