
<div class="form-container">
  <div class="container mt-5">
    <h2 class="text-center">Postani instruktor u našem timu</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="wizard">
        <!-- Stepper -->
        <ul class="nav nav-pills mb-3">
          <li class="nav-item" *ngFor="let step of steps; let i = index">
            <a
              class="nav-link"
              [ngClass]="{ 'active': activeStep === i + 1 }"
              (click)="setActiveStep(i + 1)"
              [class.disabled]="!isStepValid(i + 1)"
              style="cursor: pointer"
            >
              {{ step }}
            </a>


          </li>
        </ul>

        <div class="tab-content">
          <!-- Step 1 -->
          <div
            class="tab-pane fade"
            [ngClass]="{ 'show': activeStep === 1 }"
            id="step1"
          >
            <div class="form-group mb-3">
              <label for="firstName">Ime</label>
              <input
                type="text"
                id="firstName"
                class="form-control"
                formControlName="firstName"
                required
              />
              <div *ngIf="registrationForm.get('firstName')?.invalid && registrationForm.get('firstName')?.touched" class="text-danger">
                Ovo polje je obavezno.
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="lastName">Prezime</label>
              <input
                type="text"
                id="lastName"
                class="form-control"
                formControlName="lastName"
                required
              />
              <div *ngIf="registrationForm.get('lastName')?.invalid && registrationForm.get('lastName')?.touched" class="text-danger">
                Ovo polje je obavezno.
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="gender">Spol</label>
              <select id="gender" class="form-select" formControlName="gender">
                <option value="Muški">Muški</option>
                <option value="Ženski">Ženski</option>
              </select>
              <div *ngIf="registrationForm.get('gender')?.invalid && registrationForm.get('gender')?.touched" class="text-danger">
                Ovo polje je obavezno.
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="city">Grad</label>
              <select id="city" class="form-select" formControlName="city">
                <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}
                </option>
              </select>
              <div *ngIf="registrationForm.get('city')?.invalid && registrationForm.get('city')?.touched" class="text-danger">
                Ovo polje je obavezno.
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="age">Godine</label>
              <input
                type="number"
                id="age"
                class="form-control"
                formControlName="age"
                required
              />
              <div *ngIf="registrationForm.get('age')?.hasError('required') && registrationForm.get('age')?.touched" class="text-danger">
                Ovo polje je obavezno.
              </div>
              <div *ngIf="registrationForm.get('age')?.hasError('min') && registrationForm.get('age')?.touched" class="text-danger">
                Morate imati minimalno 14 godina.
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                class="form-control"
                formControlName="email"
                required
              />
              <div *ngIf="registrationForm.get('email')?.hasError('required') && registrationForm.get('email')?.touched" class="text-danger">
                Ovo polje je obavezno.
              </div>
              <div *ngIf="registrationForm.get('email')?.hasError('invalidEmail') && registrationForm.get('email')?.touched" class="text-danger">
                Neispravan format (primjer validne e-mail adrese: johndoe&#64;gmail.com/johndoe&#64;unmo.ba)
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="phoneNumber">Broj telefona</label>
              <input
                type="text"
                id="phoneNumber"
                class="form-control"
                formControlName="phoneNumber"
                required
              />
              <div *ngIf="registrationForm.get('phoneNumber')?.hasError('required') && registrationForm.get('phoneNumber')?.touched" class="text-danger">
                Ovo polje je obavezno.
              </div>
              <div *ngIf="registrationForm.get('phoneNumber')?.hasError('invalidPhoneNumber') && registrationForm.get('phoneNumber')?.touched" class="text-danger">
                Broj telefona sadrži minimalno 9 cifri.
              </div>
              <div *ngIf="registrationForm.get('phoneNumber')?.hasError('invalidPhoneType') && registrationForm.get('phoneNumber')?.touched" class="text-danger">
                Unesite brojeve (npr. 061 111 111)
              </div>
            </div>
            <div class="button-container-step1">
              <button
                type="button"
                id="btnDalje"
                class="btn btn-primary"
                [disabled]="!isStepValid(1)"
                (click)="setActiveStep(2)"
              >
                Dalje
              </button>
            </div>
          </div>

          <!-- Step 2 -->
          <div
            class="tab-pane fade"
            [ngClass]="{ 'show': activeStep === 2 }"
            id="step2"
          >
            <div class="row">
              <!-- Lijeva strana -->
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label for="profilePicture">Profilna slika</label>
                  <div
                    class="upload-container"
                    (dragover)="onDragOver($event)"
                    (drop)="onDrop($event)"
                  >
                    <div *ngIf="preview" class="image-preview">
                      <img [src]="preview" alt="Pregled slike" />
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="removeImage()"
                      >
                        Ukloni
                      </button>
                    </div>
                    <div *ngIf="!preview" class="upload-box">
                      <p>Prevucite sliku ovdje ili</p>
                      <button
                        type="button"
                        id="odaberiButton"
                        (click)="fileInput.click()"
                      >
                        Odaberite datoteku
                      </button>
                      <input
                        type="file"
                        #fileInput
                        (change)="onFileChange($event)"
                        accept="image/*"
                        hidden
                      />
                    </div>

                  </div>
                  <!-- Polje za Base64 sliku (ne prikazujemo korisnicima) -->
                  <input type="hidden" formControlName="profilePictureBase64" />
                  <div *ngIf="registrationForm.get('profilePicture')?.invalid && registrationForm.get('profilePicture')?.touched" class="text-danger">
                    Slika je obavezna.
                  </div>
                </div>

                <div class="form-group mb-3">
                  <label for="experience">Broj godina iskustva</label>
                  <input
                    type="number"
                    id="experience"
                    class="form-control"
                    formControlName="experience"
                    required
                  />
                  <div *ngIf="registrationForm.get('experience')?.invalid && registrationForm.get('experience')?.touched" class="text-danger">
                    Ovo polje je obavezno.
                  </div>
                </div>

                <div class="form-group mb-3">
                  <label for="rate">Satnica (KM)</label>
                  <input
                    type="number"
                    id="rate"
                    class="form-control"
                    formControlName="rate"
                  />
                  <small class="form-text text-muted">
                    Napomena: Kompanija uzima 10% od svake naplate učenika za čas.
                  </small>
                </div>
                <div *ngIf="registrationForm.get('rate')?.invalid && registrationForm.get('rate')?.touched" class="text-danger">
                  Ovo polje je obavezno.
                </div>
              </div>

              <!-- Desna strana -->
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label for="qualifications">Kvalifikacije</label>
                  <textarea
                    id="qualifications"
                    class="form-control"
                    formControlName="qualifications"
                    rows="3"
                  ></textarea>
                  <div *ngIf="registrationForm.get('qualifications')?.invalid && registrationForm.get('qualifications')?.touched" class="text-danger">
                    Ovo polje je obavezno.
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="availability">Dostupnost</label>
                  <textarea
                    id="availability"
                    class="form-control"
                    formControlName="availability"
                    rows="3"
                  ></textarea>
                  <div *ngIf="registrationForm.get('availability')?.invalid && registrationForm.get('availability')?.touched" class="text-danger">
                    Ovo polje je obavezno.
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="cancellationPolicy">Pravila za otkazivanje časova</label>
                  <textarea
                    id="cancellationPolicy"
                    class="form-control"
                    formControlName="cancellationPolicy"
                    rows="3"
                  ></textarea>
                  <div *ngIf="registrationForm.get('cancellationPolicy')?.invalid && registrationForm.get('cancellationPolicy')?.touched" class="text-danger">
                    Ovo polje je obavezno.
                  </div>
                </div>

            <div class="form-group mb-3">
              <div class="form-check">
                <input
                  type="checkbox"
                  id="liveAvailability"
                  class="form-check-input"
                  formControlName="liveAvailability"
                />
                <label class="form-check-label" for="liveAvailability">
                  Dostupan uživo
                </label>
              </div>
            </div>
            </div>
            </div>
            <div class="button-container">
              <button
                type="button"
                id="btnNazadStep2"
                class="btn btn-primary"
                (click)="setActiveStep(1)"
              >
                Nazad
              </button>
              <button
                type="button"
                id="btnDaljeStep2"
                class="btn btn-primary"
                [disabled]="!isStepValid(2)"
                (click)="setActiveStep(3)"
              >
                Dalje
              </button>
            </div>
          </div>


          <!-- Step 3 -->
          <div
            class="tab-pane fade"
            [ngClass]="{ 'show': activeStep === 3 }"
            id="step3"
          >
            <div class="form-group mb-3">
              <label for="username">Korisničko ime</label>
              <input
                type="text"
                id="username"
                class="form-control"
                formControlName="username"
                required
              />
              <div *ngIf="registrationForm.get('username')?.hasError('required') && registrationForm.get('username')?.touched" class="text-danger">
                Ovo polje je obavezno.
              </div>
              <div *ngIf="registrationForm.get('username')?.hasError('usernameTaken')" class="text-danger">
                Korisničko ime je već zauzeto. Molimo unesite novo korisničko ime.
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="password">Lozinka</label>
              <div class="password-container">
              <input
                [type]="showPassword ? 'text' : 'password'"
                id="password"
                class="form-control"
                formControlName="password"
                required
                (keyup)="checkPasswordStrength()"
              />
                <span
                  class="toggle-password-icon"
                  (click)="togglePasswordVisibility('password')"
                >
                <i [ngClass]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
               </span>
              </div>
              <div *ngIf="registrationForm.get('password')?.hasError('required') && registrationForm.get('password')?.touched" class="text-danger">
                Ovo polje je obavezno.
              </div>
              <div *ngIf="registrationForm.get('password')?.hasError('passwordTaken')" class="text-danger">
                Lozinka je već zauzeta. Molimo unesite novu lozinku.
              </div>
              <div *ngIf="passwordStrength" [ngClass]="passwordStrengthClass">
                {{ passwordStrength }}
              </div>


            </div>

            <div class="form-group mb-3">
              <label for="confirmPassword">Potvrdite lozinku</label>
              <div class="password-container">

              <input
                [type]="showConfirmPassword ? 'text' : 'password'"
                id="confirmPassword"
                class="form-control"
                formControlName="confirmPassword"
                required
              />
              <span
                class="toggle-password-icon"
                (click)="togglePasswordVisibility('confirmPassword')"
              >
                <i [ngClass]="showConfirmPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
               </span>
            </div>
              <div *ngIf="registrationForm.get('confirmPassword')?.hasError('required') && registrationForm.get('confirmPassword')?.touched" class="text-danger">
                Ovo polje je obavezno.
              </div>
              <div *ngIf="registrationForm.get('confirmPassword')?.hasError('passwordMismatch') && registrationForm.get('confirmPassword')?.dirty" class="text-danger">
                Lozinke se ne poklapaju. Molimo unesite istu lozinku.
              </div>
            </div>

            <div class="button-container">
              <button
                type="button"
                id="btnNazadStep3"
                class="btn btn-primary"
                (click)="setActiveStep(2)"
              >
                Nazad
              </button>
              <button
                type="submit"
                id="btnRegistrujSe"
                class="btn btn-success"
                [disabled]="!isStepValid(3)"
                [disabled]="isSubmitting"
              >
                Registruj se
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
