.tab-content .tab-pane {
  display: none;
}

.tab-content .tab-pane.show {
  display: block;
}

.nav-pills .nav-link.active {
  background-color: #20C1BD;
  color: white;
}

.nav-pills .nav-link {
  cursor: pointer;
  border-radius: 0;
  color: black;
}

app-root, .form-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d4e6f1;
}

.container {
  margin: 0 auto;
  background-color: #f7f7f7;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 60%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}

.form-control, .form-select {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

.btn {
  border-radius: 5px;
  padding: 10px 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-container .btn {
  width: 15%;
}

.button-container-step1 {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

#btnDalje, #btnDaljeStep2, #btnRegistrujSe {
  background-color: #00B2A9;
  border-color: #00B2A9;
}

#btnNazadStep2, #btnNazadStep3 {
  background-color: #dc3545;
  border-color: #dc3545;
}

/* Grid Layout for Step 2 */
.row {
  display: flex;
}

.left-column, .right-column {
  flex: 1;
  padding: 10px;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed #cccccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
  max-width: 300px; /* Ograničena širina */
  margin-left: 0;

}

.upload-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-box p {
  margin: 0;
  font-size: 16px;
  color: #333333;
}

.upload-box button {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-box button:hover {
  background-color: #0056b3;
}

.image-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.image-preview img {
  max-width: 100%; /* Prilagodba veličini okvira */
  max-height: 200px; /* Maksimalna visina */
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.image-preview button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#odaberiButton {
  background-color: #00B2A9;
}

.drag-drop-area {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  background-color: #f9f9f9;
}

.drag-drop-area:hover {
  background-color: #e9ecef;
}

.drag-drop-text {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #6c757d;
}
